.container {
    margin: 0 auto;
    height: 100vh;
    width: 30rem;
    max-width: 100%;
    padding: 1rem;
}

.subContainer {
    margin-top: 5rem;
}
.text-input {
    width: 15rem;
    height: 2rem;
    padding: 0.625rem;
    background-image: linear-gradient(135deg, rgba(var(--gradient-blue)) 0%, rgba(var(--gradient-purple)) 100%);
}

.text-input--small {
    width: 10rem;
}

.toDo {
    transition: opacity 1s;
    margin-right: 1rem;
}

.toDo--completed {
    position: relative;
    text-decoration: line-through;
    opacity: 0.3;
    transition: opacity 1s;
}

.header {
    margin-bottom: 1rem;
}

.toDo-list {
    width: 30rem;
    max-width: 100%;
}

.toDo-list__header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.toDo-list__task {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

// code for animation if I choose to add it
.completion-alert {
    animation: slide 8s forwards;
    transform: translateY(-4rem);

    &.show {
        animation: fadeOut 1s forwards;
        animation-delay: 3s;
    }
}

@keyframes slide {
    0% {
        transform: translateY(-4rem);
    }

    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-4rem);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


