.u-flex {
    display: flex;
}

.u-hidden {
    display: none;
}

.u-relative {
    position: relative;
}

.u-absolute {
    position: absolute;
}

.u-row {
    flex-direction: row;
}

.u-row-reverse {
    flex-direction: row-reverse;
}

.u-column {
    flex-direction: column;
}

.u-alignCenter {
    align-items: center;
}

.u-alignBaseline {
    align-items: baseline;
}

.u-alignEnd {
    align-items: flex-end;
}

.u-justifyCenter {
    justify-content: center;
}

.u-justifyBetween {
    justify-content: space-between;
}

.u-justifyEnd {
    justify-content: flex-end;
}

.u-fillRemaining {
    flex: 1;
}

.u-relative {
    position: relative;
}

.u-maxX {
    width: 100%;
}

.u-maxY {
    height: 100%;
}

.u-maxXY {
    height: 100%;
    width: 100%;
}

.u-hidden {
    overflow: hidden;
}

.u-scroll {
    overflow: scroll;
}

.u-wrap {
    flex-wrap: wrap;
}

.u-nowrap {
    white-space: nowrap;
}

.t-bold {
    font-weight: bold;
}

.button + .button {
    margin-left: 1rem;
}